/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::before {
    content: '▶';
    position: absolute;
    animation: path 0.5s ease-in-out infinite alternate;
    top: 0;
    left: 0;
  }
  
  .theme-menu__button:focus-visible {
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .theme-menu__button::after {
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--accent-color);
    transition: width .3s;
  }
  
  .theme-menu__button:focus-visible::after {
    width: 100%;
  }
  
  .theme-menu__button:hover, .theme-menu__button:disabled {
    position: relative;
    opacity: 0.6;
    transition: opacity 300ms ease;
  }
  
  .theme-menu__button:disabled {
    pointer-events: none;
  }
  
  .like-icon {
    fill: var(--bg-color);
    inline-size: 39px;
    block-size: 36px;
  }
  
  .like-icon .heart {
    transition: transform 0.3s ease-in;
    transform-origin: center center;
  }
  
  /* Сердце */
  .like-icon .main-body {
    fill: var(--bg-color);
    transition: fill 0.3s ease;
  }
  
  .card__icon-button:hover .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s ease 0.05s;
  }
  
  .card__icon-button:active .main-body {
    fill: var(--heart-color);
    transition: fill 0.3s ease;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--heart-color);
    transition: fill 0.3s ease;
  }
  
  
  /* Плюс */
  .like-icon .core {
    fill: var(--bg-color);
    transition: fill 0.3s ease;
  }
  
  .card__icon-button:hover .core {
    fill: var(--accent-color);
    transition: fill 0.3s ease;
  }
  
  .card__icon-button:active .core {
    fill: var(--heart-color);
    transition: fill 0.3s ease;
  }
  
  .like-icon.is-liked .core {
    fill: var(--heart-color);
    transition: fill 0.3s ease;
  }
  
  /* Контур */
  .like-icon .contour {
    fill: var(--accent-color);
  }
  
  .like-icon.is-liked .contour {
    fill: var(--heart-color);
    transition: fill 0.3s ease 0.06s;
  }
  
  
  /* Искры */
  .like-icon .sparks {
    opacity: 0;
    fill: var(--heart-color);
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s 1;
  }
  
  .like-icon.is-liked .heart {
    animation: scale 0.3s ease-in 0.1s 1;
  }
  
  @keyframes scale {
    from {
      transform: scale(1);
    }
  
    to {
      transform: scale(1.25);
    }
  }
  
  @keyframes sparks {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @keyframes path {
    from {
      left: 8px;
    }
  
    to {
      left: 4px;
    }
  }
